<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticeBoard">
	<select id="selectAllNoticeBoard" resultType="NoticeBoardVO">
<!-- 		select NOTICE_NO, NOTICE_TITLE, NOTICE_CONT, substr(NOTICE_AT,1,10) as NOTICE_AT, NOTICE_CNT -->
		select NOTICE_NO, NOTICE_TITLE, NOTICE_CONT, TO_CHAR(NOTICE_AT, 'yyyy-mm-dd') as NOTICE_AT, NOTICE_CNT
  		from notice_board
	</select>
	
	<select id="selectNoticeBoard" parameterType="int" resultType="NoticeBoardVO">
		select NOTICE_NO, NOTICE_TITLE, NOTICE_CONT, TO_CHAR(NOTICE_AT, 'yyyy-mm-dd') as NOTICE_AT, NOTICE_CNT
  		  from notice_board
  		 where notice_no = #{notice_no}
	</select>
	
	<insert id="insertNoticeBoard" parameterType="NoticeBoardVO">
		insert into notice_board(NOTICE_NO, NOTICE_TITLE, NOTICE_CONT, NOTICE_AT, NOTICE_CNT)
		values(
			seq_notice_board.nextval,
			#{notice_title},
			#{notice_cont},
			sysdate,
			0
		)
	</insert>
	
	<update id="updateNoticeBoard" parameterType="NoticeBoardVO">
		update notice_board
		   set notice_cont = #{notice_cont}
		 where notice_no = #{notice_no}
	</update>
</mapper>