<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="store">
	<select id="getStoreInfoByProd" parameterType="Integer" resultType="MemberVO">
		SELECT * FROM MEMBER INNER JOIN PRODUCT ON(PRODUCT.MEM_NO = MEMBER.MEM_NO) WHERE PRODUCT.PROD_NO = #{prod_no};
	</select>
	<select id="getStoreInfoByMem" parameterType="Integer" resultType="MemberVO">
		SELECT * FROM MEMBER WHERE MEM_NO = #{mem_no}
	</select>
	<select id="getProgSell" parameterType="Integer" resultType="Integer">
		SELECT PROG_SELL FROM MEMBER_PROGRESS WHERE MEM_NO = #{mem_no}
	</select>
	
	<select id="getCountAllProducts" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*) FROM PRODUCT WHERE MEM_NO = #{mem_no}
	</select>
	
	<select id="getCountSoldoutProducts" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*) FROM PRODUCT WHERE MEM_NO = #{mem_no} AND PROD_TR_STATUS = 1
	</select>
	
	<update id="updateMypageProfile" parameterType="Map">
		UPDATE MEMBER SET MEM_ALIAS = #{mem_alias}, PR_INFO = #{pr_info} WHERE MEM_NO = #{mem_no}
	</update>
	
	<select id="getStoreProdList" parameterType="Integer" resultType="ProductVO">
		SELECT * FROM PRODUCT WHERE MEM_NO = #{storeId} ORDER BY PROD_NEWING
	</select>
	<select id="getStoreReviewList" parameterType="Integer" resultType="ReviewVO">
		SELECT * FROM REVIEW WHERE MEM_NO = #{stroeId} ORDER BY REVIEW_TIMESTAMP
	</select>
	<select id="getStoreSoldoutList" parameterType="Integer" resultType="ProductVO">
		SELECT * FROM PRODUCT WHERE MEM_NO = #{storeId} AND PROD_TR_STATUS = 1 ORDER BY PROD_NEWING
	</select>
	<select id="getStoreWishlist" parameterType="Integer" resultType="ProductVO">
		SELECT * FROM WISHLIST WHERE MEM_NO = #{storeId} ORDER BY WISH_CREATE_AT
	</select>
</mapper>
