<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="trans" >
	<select id = "getProd" parameterType = "int" resultType = "ProductVO">
		select * from product
			where mem_no = #{mem_no}
	</select>
	
	
	<update id="deleteProd" parameterType="ProductVO">
		update product 
   		 set prod_deleted = 1
   		 where mem_no = #{mem_no}
   		 and prod_no = #{prod_no}
	</update>
	
	
</mapper>