<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="trans">
	<select id = "getProd" resultType = "ProductVO">

	select prod_tr_status, prod_name, prod_price, prod_content, prod_at, prod_newing
	
	from product

</select>
</mapper>