@charset "UTF-8";

element.style{
	font-family : 'Pretendard-Regular';
}

hr{
	background:#f3f2f2;
    height:1px;
    border:0;
}

.cont{
	border : none;
	border-top:1px solid #ccc;
	display:flex;
	flex-direction: column;
	gap:15px;
}

.inner h1{
	margin:25px 0;
	font-size : 1.2em;
	color : #6E6E6E;
}

.innerCont{
	display : flex;
	margin-right : 10px;
	
}
.text{
	display : flex;
	width : 150px;
}
.text h3{
	font-style: bold;
	color : #6E6E6E;
}

.img{
	border: 1px solid #ccc;
	width : 150px;
	height : 150px;
}
#prod_name{
	width : 850px;
	max-width : 850px;
	border : 1px solid ;
	margin-right : 20px;
	height : 25px;
	color : black;
}
#prod_name::placeholder{
	color : #ccc;
}
.radio{
	margin-right : 5px;
	margin-bottom : 15px;
}
#prod_content{
	color : black;
	font-family : 'Pretendard-Regular';
	resize : none;
}
#prod_content::placeholder{
	font-size : 1.3em;
	font-family : 'Pretendard-Regular';
	color : #ccc;
}
#prod_price{
	border : 1px solid;
	height : 25px;
	color : black;
	margin-right : 10px;
}
#prod_price::placeholder{
	color : #ccc;
}







