@charset "UTF-8";
.jc_fe{
	justify-content:flex-end !important;
}
.jc_sb{
	justify-content:space-between !important;
}

.ai_c{
	align-items:center !important;
}
.ai_fe{
	align-items:flex-end !important;
}
.ai_fs{
	align-items:flex-start !important;
}
.mt0{
	margin-top:0 !important;
}


.local_desc02{height:16px;}


/* 검색창 */ 
.search_form {
    display: flex;
    margin-top: 10px;
    color: #c4c4c4;
}

.search_form select {
    border: 1px solid #c4c4c4;
    width: 100px;
    border-radius: 5px;
    padding: 0;
    margin-left: 10px;
    text-align: center;
    height: 25px;
}

.search_form div {
    display: flex;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 0;
    height: 25px;
    margin-left: 10px;
	overflow: hidden;
}

.search_form div input {
    border: none;
    outline: none;
    width: 140px;
    height: 100%;
    font-size: 0.8rem;
    padding:5px;
    
}
.search_form div span {
    align-items: center;
    cursor: pointer;
}


/* 페이저 버튼 */
.pager_wrap{
	margin-top:30px;
}
.pager_wrap ul{
	display:flex;
	justify-content:center;	
}
.pager_wrap ul a{
	display:inline-block;
	font-size:12px;
	color:#666;
	width: 25px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #ccc;
    margin-right:-1px;
    text-align: center;
}
.pager_wrap ul li:last-child a{
	margin-right:0;
}

.pager_wrap ul li.on a{
	color:#ad49e1;
}

/* 게시글 리스트 삭제 버튼 */
.adm_del_btn,
button.adm_del_btn{
	color: #ad49e1;
    cursor: pointer;
    border:none;
    background:none;
}



/* 게시글 보기 답변 전 style */
#status_ck{
	padding: 0 20px 10px;
    border: none;
	border-bottom:1px solid #ccc;
}
#status_ck .admin_status{
	padding:0;
}
#status_ck .btn_list{
	margin:0;
}
#addComments{
	height:40px;
	line-height:40px;
	padding:0 45px;
	font-size:14px;
	
}